<div>
    <input name="noun" type="text" placeholder="Add up to 4 nouns" ng-change="$ctrl.updateNouns()" ng-model="$ctrl.nounString">
    <input name="verb" type="text" placeholder="Add up to 4 verbs" ng-change="$ctrl.updateVerbs()" ng-model="$ctrl.verbString">
    <input name="adverb" type="text" placeholder="Add up to 4 adverbs" ng-change="$ctrl.updateAdverbs()" ng-model="$ctrl.adverbString">
    <input name="adjective" type="text" placeholder="Add up to 4 adjectives" ng-change="$ctrl.updateAdjectives()" ng-model="$ctrl.adjectiveString">
</div>
